# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ========================
# Virtual environments
# ========================
venv/
.env/
.venv/
env/

# ========================
# SQLite
# ========================
*.db
*.sqlite
*.sqlite3

# ========================
# OS / Editor
# ========================
.DS_Store
Thumbs.db

# ========================
# VS Code
# ========================
.vscode/

# ========================
# Logs
# ========================
*.log

# ========================
# PyCharm
# ========================
.idea/

# ========================
# Build / cache
# ========================
build/
dist/
*.egg-info/
